.header {
    padding: 10px 0;
    position: absolute;
    width: 100%;
    z-index: 9999;
  }
  
  .header__item {
    display: flex;
    align-items: center;
    justify-content:  space-between;
  }
  
  .logo a {
    font-size: 1.5rem;
    color: #000;
    font-weight: 300;
  
  }
  
  .menu__desktop ul {
    display: flex;
  }
  
  .menu__desktop li + li {
    margin-left: 30px;
  }
  
  .menu__desktop a {
    font-size: 1.6rem;
    position: relative;
    transition: 0.3s;
  }
  
  @keyframes efeitoHeader {
    to {
      transform: initial;
      opacity: initial;
    }
  }
  
  .active {
    color: #00aeff;
  }
  
  .menu__desktop a:hover {
    color: #00aeff;
  }
  
  @media screen and (min-width: 900px) {
    .menu__mobile {
      display: none;
    }
  
    .hamburger {
      display: none;
    }
  }
  
  /* ESTILOS DO MENU MOBILE */
  
  @media screen and (max-width: 900px) {
    .menu__desktop {
      display: none;
    }
  
    .menu__mobile {
      position: absolute;
      transform: translateX(-200rem);
      opacity: 0;
      transition: 0.3s;
      left: 0;
      top: 0;
  
      background: rgba(17, 17, 24, 1.0);
      /* backdrop-filter: blur(20px); */
      width: 100%;
      height: 100vh;
  
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .menu__mobile.activeMenu {
      transform: initial;
      opacity: 1;
    }
  
    .menu__mobile li + li {
      margin-top: 20px;
    }
  
    .menu__mobile a {
      font-size: 2rem;
    }
  }