.sobre__item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.sobre__text h1 {
  font-weight: 400;
  font-size: 4rem;
  color: darkcyan
}

.sobre__text p {
  margin-top: 10px;
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 30px;
  max-width: 90%;
}

.sobre__img {
  position: relative;
}

.sobre__img img {
  max-width: 300px;
  border-radius: 4px;
  opacity: 0.7;
}

@media screen and (max-width: 900px) {
  .sobre {
    height: auto;
  }

  .sobre__item {
    flex-direction: column;
    align-items: flex-start;
  }

  .sobre__text {
    margin: 0 auto;
  }

  .sobre__text h1 {
    margin-top: 15rem;
    font-size: 5rem;
    font-weight: 300;
  }

  .sobre__text p {
    font-size: 1.5rem;
    text-align: justify;
    margin-bottom: 15px;
    max-width: 100%;
  }

  .sobre__text a {
    font-size: 1.5rem;
  }

  .sobre__img img {
    max-width: 250px;
    margin-top: 50px;
  }
}

@media screen and (max-width: 500px) {
  .sobre__text h1 {
    font-size: 2.8rem;
  }
}
