.contato h1 {
    display: none;
  }
  
  .contato__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .contato__item img {
    max-width: 90px;
    margin-bottom: 5px;
  }
  
  .contato__item a {
    padding: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
    font-weight: 300;
  }
  
  .contato__item a + a {
    margin-left: 50px;
  }
  
  .contato__item p {
    opacity: 0;
    transition: 0.3s;
  }
  
  .contato__item a:hover > p {
    position: relative;
    transform: translateY(-30px);
    opacity: 1;
    color: #00aeff;
  }
  
  .contato__item span {
    opacity: 1;
    transition: 0.3s;
  }
  
  .contato__item a:hover > span {
    opacity: 0;
    transform: translateY(30px);
  }
  
  .on-mobile {
    display: none;
  }
  
  @media screen and (max-width: 900px) {
    .contato {
      height: 100vh;
      display: flex;
      align-items: center;
    }
  
    .contato__item {
      position: relative;
      height: auto;
    }
  
    .contato__item a {
      padding: 10px;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      font-size: 1.2rem;
      width: 100%;
      font-weight: 300;
    }
  
    .contato__item img {
      max-width: 40px;
    }
  
    .contato__item a + a {
      margin-left: 0;
    }
  
    .contato h1 {
      display: block;
      font-size: 4rem;
      font-weight: 300;
      margin-bottom: 10px;
    }
  
    .contato__item a:hover > p {
      transform: translateY(-23px);
    }
  
    .on-mobile {
      display: block;
      background: #2e3138;
      border-radius: 4px;
      width: 100%;
      height: auto;
      padding: 10px;
      margin-top: 20px;
    }
  
    .on-mobile h2 {
      margin-bottom: 10px;
      font-size: 2.2rem;
      font-weight: 200;
    }
  
    .on-mobile p {
      font-size: 1.5rem;
      font-weight: 200;
    }
  
    .on-mobile span {
      margin-left: 5px;
    }
  }
  
  @media screen and (max-width: 500px) {
    .contato h1 {
      font-size: 2.8rem;
    }
  }
  